ul {
    background-color: blueviolet;
    height: 100px;
    font-size: 22px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    a {
        color: #fff;
        transition: .4s;

        &:hover {
            color: yellowgreen;
        }
    }
}